.column {
    float: left;
    width: 33.33%;
  }
  
.col {
    
    width: 16.2%S;
    justify-content: center;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

