a.navbar-brand{
    font-size:xx-large;  
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}



body {
    background-color: #48cfb6;
}

.btn-primary {
    color: #fff;
    background-color: #8b6ad9;
    border-color: #8b6ad9;
  }

  .btn-primary:hover {
    color: #fff;
    background-color: #493083;
    border-color: #493083;
  }

.card-text, .card-title {
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}