<!DOCTYPE html>

<html lang="en">

<head>
	<title>About Us</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="{{url_for('static', filename = 'images/icon.png')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/about.css') }}" rel="stylesheet">
</head>

<body>

<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #8b6ad9; font-size:larger;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('home')}}" style="color: #48cfb6;">SpaceExo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
              <a class="nav-link active" href="{{url_for('planet')}}" style="color: #212591">Planets</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" href="{{url_for('star')}}" style="color: #212591">Stars</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" href="{{url_for('discovery_org')}}" style="color: #212591">Discovery Organizations</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" href="{{url_for('about')}}" style="color: #212591">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{url_for('search')}}" style="color: #212591">Search</a>
            </li>

            <!-- <li class="nav-item">
              <a class="nav-link active" href="#" style="color: #212591">Search</a>
            </li> -->
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #212591">Dropdown</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#"style="color: #212591">Action</a></li>
                <li><a class="dropdown-item" href="#"style="color: #212591">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#"style="color: #212591">Something else here</a></li>
              </ul>
            </li> -->
            </ul>
          </div>
        </div>
      </nav>

 <!-- Page Content -->
    <!-- /.row -->
		<section class="text-center" style="background-image: url({{ url_for('static', filename='images/stars2.jpg') }}) !important; padding:70px">
			<div class="container">
				<h1 style="color:white;">The SpaceExo Team</h1>
				<p class="lead text" style="color:white;">Get to know our team.</p>
			</div>
		</section>

		<div class="container">
    <!-- Content Row -->
    <div class="row" id = "jumphere" style = "padding-top: 70px">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title" style="color: #212591">Allison M Lane</h2>
            <h5 class="card-title" style="color: #212591">Front-end: Home Page, General UI Design, Administrative Tasks</h5>
            <p class="card-text" style="color: #212591">Alli is a senior Mechanical Engineering major from Castle Rock, CO. She is heavily
              involved in Texas Running Club and Delta Gamma at the University of Texas. In her free time Alli enjoys running, snow skiing, and cooking. </p>
            <img src="{{url_for('static', filename = 'images/Allison.jpg')}}" width = "60%" height = "50%" alt="exo" class="center">
          </div>
          <div class="card-footer">

            <p class="card-text" style="color: #000000">Commits: {{ gitstats[0].commits }}</p>

            <p class="card-text" style="color: #000000">Issues: {{ gitstats[0].issues }} </p>

            <p class="card-text" style="color: #000000">Unit Tests: 3</p>

            <p><a class="card-text" style="color: #000000" href = "https://www.linkedin.com/in/allison-lane-70741b170/">LinkedIn </a></p>
            <p> </p>
            <a class="card-text" style="color: #000000" href = "https://www.cs.utexas.edu/users/alane/">More about me! </a>

          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title" style="color: #212591">Yang Wang</h2>
            <h5 class="card-title" style="color: #212591">Front-end: Stars Page<br> Back-end: Flask, Creation of Database, Creation of Planets Table, Creation of Discovery Organizations Table</h5>
            <p class="card-text" style="color: #212591">Yang is a junior Math major from China. She is interested in baking and hiking in her free time. </p>

            <br>
            <img src="{{url_for('static', filename = 'images/Yang.jpg')}}" width = "50%" height = "55%" alt="stars" class="center">
          </div>
          <div class="card-footer">

            <p class="card-text" style="color: #000000">Commits: {{ gitstats[1].commits }}</p>

            <p class="card-text" style="color: #000000">Issues: {{gitstats[1].issues }}</p>

            <p class="card-text" style="color: #000000">Unit Tests: 3</p>

            <a class="card-text" style="color: #000000" href = "https://www.linkedin.com/in/yang-wang-276954208/">LinkedIn </a>
            <p> </p>
            <a class="card-text" style="color: #000000" href = "https://www.cs.utexas.edu/users/yw22729/">More about me! </a>

          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title" style="color: #212591">Aaron Furman</h2>
            <h5 class="card-title" style="color: #212591">Front-end: Planets Page, Search Functionality <br> Back-End: Stars Table, GitLab Stats</h5>
            <p class="card-text" style="color: #212591">Aaron is a junior Mechanical Engineering major from Dallas, TX. He is a member of
              Theta Chi Fraternity and enjoys hiking, surfing, and cooking. </p>
            <img src="{{url_for('static', filename = 'images/Aaron.jpg')}}" width = "50%" height = "60%" alt="nasa" class="center">
          </div>
          <div class="card-footer">

            <p class="card-text" style="color: #000000">Commits: {{ gitstats[2].commits }}</p>

            <p class="card-text" style="color: #000000">Issues: {{ gitstats[2].issues }} </p>

            <p class="card-text" style="color: #000000">Unit Tests: 3</p>

            <a class="card-text" style="color: #000000" href = "https://www.linkedin.com/in/aaron-furman/">LinkedIn </a>
            <p> </p>
            <a class="card-text" style="color: #000000" href = "https://www.cs.utexas.edu/users/awfurman/">More about me! </a>

          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title" style="color: #212591">Haley Roe</h2>
            <h5 class="card-title" style="color: #212591">Back-end: Hosting on GCP, Creation of Stars Table</h5>
            <p class="card-text" style="color: #212591">Haley is a senior Exercise Science major from Lufkin, TX.
              She has two adorable cats named Cloud & Cleo, and she likes to spend her free time reading and being outside.</p>
            <img src="{{url_for('static', filename = 'images/Haley.jpg')}}" width = "70%" height = "55%" alt="exo" class="center">
          </div>
          <div class="card-footer">

            <p class="card-text" style="color: #000000">Commits: {{ gitstats[3].commits }}</p>

            <p class="card-text" style="color: #000000">Issues: {{ gitstats[3].issues }}</p>

            <p class="card-text" style="color: #000000">Unit Tests: 3</p>

            <a class="card-text" style="color: #000000" href = "https://www.linkedin.com/in/haley-roe/">LinkedIn </a>
            <p> </p>
            <a class="card-text" style="color: #000000" href = "https://www.cs.utexas.edu/users/haleyroe/index.html">More about me! </a>



          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title" style="color: #212591">Mark Cahill</h2>
            <h5 class="card-title" style="color: #212591">Front-end: Discovery Organizations Page </h5>
            <p class="card-text" style="color: #212591">Mark is a junior Math major from College Station, TX.
              He enjoys playing table top rpg's and DJing at a student run radio station. </p>

            <img src="{{url_for('static', filename = 'images/Mark.jpg')}}" width = "50%" height = "60%" alt="stars" class="center">
          </div>
          <div class="card-footer">

            <p class="card-text" style="color: #000000">Commits: {{ gitstats[4].commits }}</p>

            <p class="card-text" style="color: #000000">Issues: {{ gitstats[4].issues }}</p>

            <p class="card-text" style="color: #000000">Unit Tests: 3</p>

            <p> <a class="card-text" style="color: #000000" href = "https://www.linkedin.com/in/mark-c-739724136">LinkedIn </a> </p>
            <p> </p>
            <a class="card-text" style="color: #000000" href = "https://www.cs.utexas.edu/users/markc/">More about me! </a>

          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title" style="color: #212591">Harneet Kaur</h2>
            <h5 class="card-title" style="color: #212591">Front-end: About Us Page <br> Back-End: Creation of Planets Table</h5>
            <p class="card-text" style="color: #212591">Harneet is a junior Aerospace Engineering major from Dallas, Texas. She enjoys reading and going on runs with her dog named Yoshi.  </p>
            <br>
            <img src="{{url_for('static', filename = 'images/Harneet.jpg')}}" width = "65%" height = "55%" alt="nasa" class="center">
          </div>
          <div class="card-footer">

            <p class="card-text" style="color: #000000">Commits: {{ gitstats[5].commits }}</p>

            <p class="card-text" style="color: #000000">Issues: {{ gitstats[5].issues }} </p>

            <p class="card-text" style="color: #000000">Unit Tests: 6</p>

            <a class="card-text" style="color: #000000; text-align: center" href = "https://www.linkedin.com/in/harneet-kaur-ut/">LinkedIn </a>
            <p> </p>
            <a class="card-text" style="color: #000000" href = "https://www.cs.utexas.edu/users/hkaur/">More about me! </a>

          </div>
        </div>
      </div>
			</div>
    </div>
    <!-- /.row -->


    <!-- /.row -->
		<section class="text-center" style="background-image: url({{ url_for('static', filename='images/stars2.jpg') }}) !important; padding:70px">
			<div class="container">
				<h1 style="color:white;">Tools and Stats</h1>
				<p class="lead text" style="color:white;"></p>
			</div>
		</section>

		<div class="container", style = "padding-top:70px">
    <div class="card" >
        <div class="card-body">
            <h2 class="card-title" style="color: #212591">Repository Statistics</h2>
            <br>
            <br>
            <div class = "row">
                <div class = "column"><p class="card-text" style="color: #4a15a0">Commits: {{ gitstats[0].commits+gitstats[1].commits+gitstats[2].commits+gitstats[3].commits+gitstats[4].commits+gitstats[5].commits}}</p></div>


                <div class = "column"><p class="card-text" style="color: #4a15a0">Issues: {{gitstats[0].issues+gitstats[1].issues+gitstats[2].issues+gitstats[3].issues+gitstats[4].issues+gitstats[5].issues}}</p></div>

                <div class = "column"><p class="card-text" style="color: #4a15a0">Unit Tests: 21</p></div>
            </div>
            <br>
            <br>
            <br>
            <div class = "row">
            <div class = "col"><a href="https://gitlab.com/amlane99/cs331e-idb/-/issues" class="btn btn-primary btn-sm">GitLab Issue Tracker</a> <p></p>
            </div>
            <div class = "col"><a href="https://gitlab.com/amlane99/cs331e-idb/-/tree/master" class="btn btn-primary btn-sm">GitLab Repository</a><p></p>
            </div>
            <div class = "col"><a href="https://gitlab.com/amlane99/cs331e-idb/-/wikis/SpaceExo" class="btn btn-primary btn-sm">GitLab Wiki</a>
            </div>
            <div class = "col"><a href="https://exoplanetarchive.ipac.caltech.edu/index.html" class="btn btn-primary btn-sm">NASA Exoplanet Archive</a>
            </div>
            <div class = "col"><a href="{{url_for('static', filename = 'images/unit_test_updated.png')}}" class="btn btn-primary btn-sm">Unit Tests</a>
            </div>
            <div class = "col"><a href="https://speakerdeck.com/alli_lane9/cs331e-final-presentation-group-8" class="btn btn-primary btn-sm">SpeakDeck</a>
            </div>
            </div>
        </div>
      </div>
      <br>
    <br>

        <div class="row">
            <div class="col">
              <img src="{{url_for('static', filename = 'images/python.png')}}"width = "20%" height = "100%"alt="exo" class="center"></div>

            <div class="col">
              <img src="{{url_for('static', filename = 'images/gcp.jpg')}}"  width = "30%" height = "100%" alt="exo" class="center"></div>

            <div class="col">
              <img src="{{url_for('static', filename = 'images/flask.png')}}" width = "20%" height = "100%" alt="exo" class="center"></div>

            <div class="col">
              <img src="{{url_for('static', filename = 'images/gitlab.png')}}"  width = "20%" height = "100%" alt="exo" class="center"></div>
            <div class="col">
              <img src="{{url_for('static', filename = 'images/bootstrap.png')}}"  width = "20%" height = "100%" alt="exo" class="center"></div>

            </div>
          </div>

    <br>
    <br>
  </div>

  <!-- /.container -->
  <br>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>

</html>
