<!DOCTYPE html>

<html lang="en">

<head>
	<title>SpaceExo</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="{{url_for('static', filename = 'images/icon.png')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #8b6ad9; font-size:larger;">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{url_for('home')}}" style="color: #48cfb6;">SpaceExo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              <li class="nav-item">
                <a class="nav-link active" href="{{url_for('planet')}}" style="color: #212591">Planets</a>
              </li>

							<li class="nav-item">
			 					<a class="nav-link active" href="{{url_for('star')}}" style="color: #212591">Stars</a>
			 				</li>

			 			 	<li class="nav-item">
			 					<a class="nav-link active" href="{{url_for('discovery_org')}}" style="color: #212591">Discovery Organizations</a>
			 				</li>

			 			 	 <li class="nav-item">
			 					<a class="nav-link active" href="{{url_for('about')}}" style="color: #212591">About Us</a>
			 				</li>

               <li class="nav-item">
                <a class="nav-link active" href="{{url_for('search')}}" style="color: #212591">Search</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

 <!-- Page Content -->
 <div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <!--<img class="img-fluid rounded mb-4 mb-lg-0" src="icon.png" alt="">-->
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{{url_for('static', filename = 'images/icon.png')}}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{{url_for('static', filename = 'images/mercury.png')}}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{{url_for('static', filename = 'images/planet1.png')}}" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-5">
        <h1 class="font-weight-light" style="color: #212591">Welcome to SpaceExo!</h1>
        <p style="color: #212591">Here you will find information on exoplanets, the planets outside our solar systems. We'll tell you all about these planets, the stars they orbit, and the organizations that discover them.</p>
        <a class="btn btn-primary" href="#jumphere">Lets go!</a>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
      <div class="card-body">
        <p class="text-white m-0">"One of the basic rules of the universe is that nothing is perfect. Perfection simply doesn't exist... Without imperfection, neither you nor I would exist" - Stephen Hawking</p>
      </div>
    </div>

    <!-- Content Row -->
    <div class="row" id = "jumphere">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title" style="color: #212591">Planets</h2>
            <p class="card-text" style="color: #212591">Exoplanets come in a wide variety of sizes, from gas giants larger than Jupiter to small, rocky planets about as big around as Earth or Mars. Click below to learn more!</p>
            <img src="{{url_for('static', filename = 'images/planets.png')}}"  alt="exo" class="center">
          </div>
          <div class="card-footer">
            <a href="{{url_for('planet')}}" class="btn btn-primary btn-sm">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title" style="color: #212591">Stars</h2>
            <p class="card-text" style="color: #212591">Did you know exoplanets orbit around stars? Click below to learn more!</p>
            <img src="{{url_for('static', filename = 'images/star.png')}}"  alt="stars" class="center">
          </div>
          <div class="card-footer">
            <a href="{{url_for('star')}}" class="btn btn-primary btn-sm">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title" style="color: #212591">Discovery Organizations</h2>
            <p class="card-text" style="color: #212591">Organizations across the globe are working hard to discover exoplanets. Click below to learn how!</p>
            <img src="{{url_for('static', filename = 'images/nasa.jpg')}}"  alt="nasa" class="center">
          </div>
          <div class="card-footer">
            <a href="{{url_for('discovery_org')}}" class="btn btn-primary btn-sm" >More Info</a>
          </div>
        </div>
      </div>

      <!-- /.col-md-4 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>

</html>
