<!DOCTYPE html>

<html lang="en">

<head>
	<title>SpaceExo</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="{{url_for('static', filename = 'images/icon.png')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #8b6ad9; font-size:larger;">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{url_for('home')}}" style="color: #48cfb6;">SpaceExo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              <li class="nav-item">
                <a class="nav-link active" href="{{url_for('planet')}}" style="color: #212591">Planets</a>
              </li>

							<li class="nav-item">
			 					<a class="nav-link active" href="{{url_for('star')}}" style="color: #212591">Stars</a>
			 				</li>

			 			 	<li class="nav-item">
			 					<a class="nav-link active" href="{{url_for('discovery_org')}}" style="color: #212591">Discovery Organizations</a>
			 				</li>

			 			 	 <li class="nav-item">
			 					<a class="nav-link active" href="{{url_for('about')}}" style="color: #212591">About Us</a>
			 				</li>

               <li class="nav-item">
                <a class="nav-link active" href="{{url_for('search')}}" style="color: #212591">Search</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <body>
        <!-- <form action="{{url_for('search')}}" method='POST' style="text-align: center; padding-top: 70px; color: white;"> -->
            <!-- <h1>Search planets, stars, or discovery organizations!</h1> -->
						<section class="text-center" style="background-image: url({{ url_for('static', filename='images/stars2.jpg') }}) !important; padding:70px">
			        <div class="container">
			          <h1 style="color:white;">Search</h1>
			          <p class="lead text" style="color:white;">Search planets, stars, or discovery organizations!</p>
			        </div>
			      </section>
						<form action="{{url_for('search')}}" method='POST' style="text-align: center; padding-top: 70px; color: white;">
            <input type="text" placeholder="Search ... " name="search">
            <button type="submit" style = "color: #212591;">Search</button>
            <h3>Filter by:</h3>
            <input class="form-check-input" type="radio" id="filterByPlanets" name="filterBy" value="planets">
            <label class="form-check-label" for="filterByPlanets">Planets</label>
            <input class="form-check-input" type="radio" id="filterByStars" name="filterBy" value="stars">
            <label class="form-check-label" for="filterByStars">Stars</label>
            <input class="form-check-input" type="radio" id = "filterByOrgs" name="filterBy" value="orgs">
            <label class="form-check-label" for="filterByOrgs">Organizations</label>
        </form>

        {% if planets != [] or stars != [] or orgs != [] %}
        <div class="row">
        <div class="col-6 mx-auto">
        <div class="card mb-4 box-shadow mx-auto">
        <div class="card-body">
        <table class="table">
          {% if planets != [] %}
            {% for planet in planets %}
            <tr>
              <th scope="row">Planet:</th>
              <td>
                <a href="{{url_for('planet_detail',planets_name=planet.name)}}">{{planet.name}}</a>
              </td>
            </tr>
            {% endfor %}
          {% endif %}

          {% if stars != [] %}
            {% for star in stars %}
            <tr>
              <th scope="row">Star:</th>
              <td>
                <a href="{{url_for('star_detail',star_name=star.hostname)}}">{{star.hostname}}</a>
              </td>
            </tr>
            {% endfor %}
          {% endif %}

          {% if orgs != [] %}
            {% for org in orgs %}
            <tr>
              <th scope="row">Organization:</th>
              <td>
                <a href="{{url_for('org_detail',org_name=org.name)}}">{{org.name}}</a>
              </td>
            </tr>
            {% endfor %}
          {% endif %}
        </table>
        </div>
        </div>
        </div>
        </div>

        {% elif display %}
          No Results Found. Case sensitive!
        {% endif %}



      </body>


    </html>
