<!doctype html>
<html lang="en">
<head>
    <title>Stars</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{url_for('static', filename = 'images/icon.png')}}">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">
    <!-- Bootstrap core CSS-->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='css/album.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
</head>
<body>
  <!-- Navbar-->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #8b6ad9; font-size:larger;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('home')}}" style="color: #48cfb6;">SpaceExo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
              <a class="nav-link active" href="{{url_for('planet')}}" style="color: #212591">Planets</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" href="{{url_for('star')}}" style="color: #212591">Stars</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" href="{{url_for('discovery_org')}}" style="color: #212591">Discovery Organizations</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" href="{{url_for('about')}}" style="color: #212591">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{url_for('search')}}" style="color: #212591">Search</a>
            </li>
            <!--
            <li class="nav-item">
              <a class="nav-link active" href="#" style="color: #212591">Search</a>
            </li>
            -->
            <!-- Dropdown bar, don't need this yet
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #212591">Dropdown</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#"style="color: #212591">Action</a></li>
                <li><a class="dropdown-item" href="#"style="color: #212591">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#"style="color: #212591">Something else here</a></li>
              </ul>
            </li>
            -->
          </ul>
        </div>
    </div>
  </nav>
  <!-- Picture under navbar-->
  <section class="text-center" style="background-image: url({{ url_for('static', filename='images/stars2.jpg') }}) !important; padding:70px">
    <div class="container">
      <h1 style="color:white;">Stars</h1>
      <p class="lead text" style="color:white;">Explore the stars that host Exoplanets</p>
    </div>
  </section>
  <!-- Tile Container-->
  <div class="album py-5 ">
    <div class="container">
      <div class="row">
        <!-- Star Tiles-->
        {% for i in stars.items %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{{url_for('static', filename = 'images/star.png')}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{i.hostname}}</h5>

              <div class="d-flex justify-content-between align-items-center">
                <strong>{{"Number of Planets: "}}</strong>{{i.number_of_planets}}
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <strong>{{"Spectral Type: "}}</strong>{{i.spectral_type}}
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <strong>{{"Stellar Radius [Solar Radius]: "}}</strong>{{i.stellar_radius}}
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <strong>{{"Stellar Temperature [K]: "}}</strong>{{i.stellar_temp}}
              </div>

              <div class="btn-group" style = "margin-top:20px">
                <a href="{{url_for('star_detail', star_name = i.hostname)}}" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">View More</a>
              </div>

            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <nav aria-label="PAGE NAVIGATION">
    <ul class="pagination justify-content-center">
      <li class="page-item"><a class="page-link" href="{{ url_for('star', page=stars.prev_num) }}">&laquo</a></li>
  
      {% for page_num in stars.iter_pages() %}
        {% if page_num %}
          {% if stars.page == page_num %}
          <li class="page-item active">
            <a class="page-link" href="{{ url_for('star', page=page_num) }}">{{ page_num }} <span class="sr-only">(current)</span></a>
          </li>
          {% else %}
          <li class="page-item"><a class="page-link" href="{{ url_for('star', page=page_num) }}">{{ page_num }}</a></li>
          {% endif %}
        {% else %}
          <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
        {% endif %}
      {% endfor %}

      <li class="page-item"><a class="page-link" href="{{ url_for('star', page=stars.next_num) }}">&raquo</a></li>
    </ul>
  </nav>
  <!-- Footer Text-->
  <footer class="text-muted">
    <div class="container">
      <p class="float-right"><a href="#">Back to top</a></p>
  </footer>
  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery-slim.min.js') }}"><\/script>')</script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/holder.min.js') }}"></script>
</body>
</html>
