<!doctype html>
<html lang="en">
<head>
    <title>{{star.hostname}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{url_for('static', filename = 'images/icon.png')}}">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">
    <!-- Bootstrap core CSS-->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='css/album.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
</head>
<body>

  <!-- Navbar-->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #8b6ad9; font-size:larger;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('home')}}" style="color: #48cfb6;">SpaceExo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">
              <a class="nav-link active" href="{{url_for('planet')}}" style="color: #212591">Planets</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" href="{{url_for('star')}}" style="color: #212591">Stars</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" href="{{url_for('discovery_org')}}" style="color: #212591">Discovery Organizations</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active" href="{{url_for('about')}}" style="color: #212591">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{url_for('search')}}" style="color: #212591">Search</a>
            </li>
            
            <!--
            <li class="nav-item">
              <a class="nav-link active" href="#" style="color: #212591">Search</a>
            </li>
            -->
            <!--
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #212591">Dropdown</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#"style="color: #212591">Action</a></li>
                <li><a class="dropdown-item" href="#"style="color: #212591">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#"style="color: #212591">Something else here</a></li>
              </ul>
            </li>
          -->
          </ul>
        </div>
    </div>
  </nav>
  <!-- Star Information Card-->
  <main role="main">
    <div class="album py-5 ">
      <div class="container">
        <div class="col-6  mx-auto" >
          <div class="card mb-4 box-shadow  mx-auto">
            <img class="card-img-top" src="{{url_for('static', filename = 'images/star.png')}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{star.hostname}}</h5>

              <div class="d-flex justify-content-between align-items-center">
                <strong>{{"Spectral Type: "}}</strong>{{star.spectral_type}}
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <strong>{{"Stellar Temperature [K]: "}}</strong>{{star.stellar_temp}}
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <strong>{{"Stellar Radius [Solar Radius]: "}}</strong>{{star.stellar_radius}}
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <strong>{{"Stellar Mass [Solar Mass]: "}}</strong>{{star.stellar_mass}}
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <strong>{{"Surface Gravity [log10(cm/s**2)]: "}}</strong>{{star.surface_gravity}}
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <strong>{{"Discovery Facility: "}}</strong><a href="{{url_for('org_detail', org_name = star.discovery_facility)}}">{{star.discovery_facility}}</a>
              </div>

              <ul>
                <strong>{{"Associated Planets: "}}</strong>
                {% for i in star.associated_planets %}
                <li class="list-group-item"><a href="{{url_for('planet_detail', planets_name = i)}}">{{i}}</a></li>
                {% endfor %}
              </ul>

            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- Footer Text Link-->
  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery-slim.min.js') }}"><\/script>')</script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/holder.min.js') }}"></script>
</body>
</html>